body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#chart{
  position:absolute;
  width:500px;
  height:500px;
  top:0;
  left:0;
}
#question{
  position: absolute;
  width:400px;
  height:500px;
  top:0;
  left:520px;
}
#question h1{
  font-size: 50px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  padding: 0;
  margin: 0;
  top:50%;
  -webkit-transform:translate(0,-50%);
          transform:translate(0,-50%);
}
